<li>
  <span class="content">
  	<%= gravatar_for User.find((Comment.find(params[:id]).user_id_cmt)) %>
    <%= link_to User.find((Comment.find(params[:id]).user_id_cmt)).name %> 
  	<%= comment.content %>
  </span>
  <span class="timestamp">
    <i>Commented <%= day_ago_in_words(comment.created_at) %> ago.</i>
    <i>Date : comment.create_at.to_s</i>
  </span>
</li>